

.game {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100vw;
}

.info div {
        margin-bottom: 12px;
}

.sakev-clock {
        margin-bottom:12px;
}

.sakev-scoreboard, .sakev-record {
        white-space: pre;
        margin-bottom:12px;
}

.record {
        font-family: monospace;
        font-size: 16px;
}

