.clock, .user-actions, .scoreboard, .position-string  {
        margin-bottom: 12px;
}

.record, .scoreboard {
        font-family: mono;
        white-space: pre;
}

.scoreboard .result {
        color: red;
}

.record a.north::after {
    content: "\a";
}

.record a {
        text-decoration: none;
        color: black;
}

.record a.south {
        padding-right: 6px;
}

