<div class="setup-board-buttons">
    <div class="north-position-elements">
        <button data-action="north-rook">
            <img src="images/Chess_rdt45.svg" width="35" height="35" alt="North Rook" />
        </button>
        <button data-action="north-bishop">
            <img src="images/Chess_bdt45.svg" width="35" height="35" alt="North Bishop" />
        </button>
        <button data-action="north-0">
            0
        </button>
        <button data-action="north-1">
            1
        </button>
        <button data-action="north-2">
            2
        </button>
        <button data-action="north-3">
            3
        </button>
        <button data-action="north-4">
            4
        </button>
    </div>
    <div class="south-position-elements">
        <button data-action="south-rook">
            <img src="images/Chess_rlt45.svg" width="35" height="35" alt="South Rook" />
        </button>
        <button data-action="south-bishop">
            <img src="images/Chess_blt45.svg" width="35" height="35" alt="South Bishop" />
        </button>
        <button data-action="south-0">
            0
        </button>
        <button data-action="south-1">
            1
        </button>
        <button data-action="south-2">
            2
        </button>
        <button data-action="south-3">
            3
        </button>
        <button data-action="south-4">
            4
        </button>
    </div>
    <div class="both-position-elements">
        <button data-action="eraser">
            <img src="images/Toicon-icon-isometric-erase.svg" width="35" height="35" alt="Eraser" />
        </button>
        <button data-action="block">
            <img src="images/cross-svgrepo-com.svg" width="35" height="35" alt="Block" />
        </button>
        <button class="cursor" data-action="cursor">
            <img src="images/Cursor.svg" width="35" height="35" alt="Select" />
        </button>
    </div>
</div>
