<div class="container game">
        <div class="row">
                <div class="col-xs-12 col-md-6 board">
                        <svg>
                        </svg>
                </div>
                <div class="col-xs-12 col-md-6 info">
                        <div class="clock">
                                CLOCK WILL COME HERE
                        </div>
                        <div class="user-actions">
                                <button class="btn btn-primary">Flip</button>
                                <button class="btn btn-primary">Draw</button>
                                <button class="btn btn-primary">Resign</button>
                        </div>
                        <div class="scoreboard">
                        </div>
                        <div class="position-string">
                                <input type="text" />
                        </div>
                        <div class="record">
                        </div>
                </div>
        </div>
</div>
