extends base

block content
  h1 Create a position

  #position-1(class="game")
    include position.html

  script(type="module", src="js/positionux.js")
  script(type="module").
   import {processPositions} from "/js/positionux.js";
   processPositions();

