<div class="setup-position">
        <div class="row position-files-ranks">
                <div class="col-xs-12 col-sm-6">
                        <form>
                                <div class="mb-3">
                                        <label class="form-label" for="files">Files</label>
                                        <input class="form-control" type="number" id="files" name="files" value="9">
                                        <label class="form-label" for="ranks">Ranks</label>
                                        <input class="form-control" type="number" id="ranks" name="ranks" value="9">
                                        <label class="form-label" for="position-string">Or enter a position
                                                string</label>
                                        <input class="form-control" type="text" id="position-string"
                                                name="position-string">
                                </div>
                                <div class="mb-3">
                                        <input type="submit" value="Create board" class="btn btn-primary" />
                                </div>
                        </form>
                </div>
        </div>
        <div class="row position">
                <div class="col-xs-12 col-md-6 board">
                        <svg>
                        </svg>
                </div>
                <div class="col-xs-12 col-sm-6 info">
                        <div class="position-string">
                                <input type="text" disabled />
                                <button type="button" class="btn btn-secondary copy">Copy</button>
                        </div>
                </div>
        </div>
</div>
