<div class="setup-position">
        <div class="row position-files-ranks">
                <div class="col-xs-12 col-sm-6">
                        <form>
                                <div class="mb-3">
                                        <label class="form-label" for="files">Files</label>
                                        <input class="form-control" type="number" id="files" name="files" value="9">
                                        <label class="form-label" for="ranks">Ranks</label>
                                        <input class="form-control" type="number" id="ranks" name="ranks" value="9">
                                        <label class="form-label" for="position-string">Or enter a position
                                                string</label>
                                        <input class="form-control" type="text" id="position-string"
                                                name="position-string">
                                </div>
                                <div class="mb-3">
                                        <input type="submit" value="Create board" class="btn btn-primary" />
                                </div>
                        </form>
                </div>
        </div>
        <div class="row position">
                <div class="col-xs-12 col-md-6 board">
                        <svg>
                        </svg>
                </div>
                <div class="col-xs-12 col-sm-6 info">
                        <div class="position-elements">
                                <div class="selected">
                                </div>
                                <div class="north-position-elements">
                                        <button data-action="north-rook">
                                                <img src="images/Chess_rdt45.svg" width="45" height="45"
                                                        alt="North Rook" />
                                        </button>
                                        <button data-action="north-bishop">
                                                <img src="images/Chess_bdt45.svg" width="45" height="45"
                                                        alt="North Bishop" />
                                        </button>
                                        <button data-action="north-0">
                                                0
                                        </button>
                                        <button data-action="north-1">
                                                1
                                        </button>
                                        <button data-action="north-2">
                                                2
                                        </button>
                                        <button data-action="north-3">
                                                3
                                        </button>
                                        <button data-action="north-4">
                                                4
                                        </button>
                                </div>
                                <div class="south-position-elements">
                                        <button data-action="south-rook">
                                                <img src="images/Chess_rlt45.svg" width="45" height="45"
                                                        alt="South Rook" />
                                        </button>
                                        <button data-action="south-bishop">
                                                <img src="images/Chess_blt45.svg" width="45" height="45"
                                                        alt="South Bishop" />
                                        </button>
                                        <button data-action="south-0">
                                                0
                                        </button>
                                        <button data-action="south-1">
                                                1
                                        </button>
                                        <button data-action="south-2">
                                                2
                                        </button>
                                        <button data-action="south-3">
                                                3
                                        </button>
                                        <button data-action="south-4">
                                                4
                                        </button>
                                </div>
                                <div class="both-position-elements">
                                        <button data-action="eraser">
                                                <img src="images/Toicon-icon-isometric-erase.svg" width="45" height="45"
                                                        alt="Eraser" />
                                        </button>
                                        <button data-action="block">
                                                <img src="images/cross-svgrepo-com.svg" width="45" height="45"
                                                        alt="Block" />
                                        </button>
                                        <button class="cursor" data-action="cursor">
                                                <img src="images/Cursor.svg" width="45" height="45" alt="Select" />
                                        </button>
                                </div>
                        </div>
                        <div class="position-string">
                                <input type="text" disabled />
                                <button type="button" class="btn btn-secondary copy">Copy</button>
                        </div>
                </div>
        </div>
</div>
