{% extends "base.html" %}

{% block content %}

<div id="game-1" class="game"></div>
{% endblock %}

{% block footerscripts %}

{{block.super}}
<script type="module" src="js/gameux.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();
</script>

<script type="module">
    import {createGameUX} from "/js/ux.js";
    createGameUX('game-1', {
        startPosition: '{{ startPosition }}',
        gameUXState:   '{{ gameUXState }}',
        southPlayerID: '{{ southPlayerID }}',
        northPlayerID: '{{ northPlayerID }}'
    });
</script>
{% endblock %}
